.nav-elem{
    background-color: grey;
    color:beige;
    border-radius: 1em;
    border: 0.1em solid darkblue;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px !important;
    width: 100px;
    text-align: center;
    margin: 5px !important;
}
.logo{
    display:flex;
    gap: 15px;
}
.logo-img{
    height:3em;
    border: 3px solid black;
    margin-left: 15px;
}
.nav-elem:hover{
    background-color: beige;
    color:grey;
    transition: 0.3s;
}