.nav-elem{
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.1em solid darkblue;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px !important;
    min-width: 100px;
    text-align: center;
    margin: 10px !important;
    width:150px;
}
.logo{
    display:flex;
    gap: 15px;
}
.logo-img{
    height:3em;
    border: 3px solid black;
    margin-left: 15px;
}
.nav-elem:hover{
    background-color: gray;
    color:aliceblue;
    transition: 0.3s;
}