.register{
    margin:5px !important;
    padding:5px !important;
}
.regButton{
    width:5em;
    height:2em;
    margin:10px;
    background-color: azure;
    transition: 0.5s;
    border-radius: 5px;
}
.regButton:hover{
    width:5em;
    height:2em;
    transform: scale(1.1);
    background-color: lightblue;
    transition: 0.5s;
    border-radius: 5px;
}