.navbar>.container{
    padding:0;
    justify-content: space-between;
    width: 100vw;
    max-width: 10000px;
}
.log-panel{
    margin-right: 15px !important;
}
.app-title{
    color: grey;
    margin:16px;
    font-size: 1.3em;
}