.navbar{
    padding:0;
    justify-content: space-between;
    width: 100vw;
    max-width: 10000px;
}
.nav-tabs{
    width:100vw;
}
.app-title{
    color: grey;
    margin:16px;
    font-size: 1.3em;
}