.input{
    display:flex;
    justify-content: start;
    align-items: start;
}
.message{
    height:30px;
    width:40vw;
    display:flex;
    justify-content: start;
    align-items: center;
    margin:0 10px !important;
    color:red;
}