.link{
    color:lightblue;
    border: 2px solid blue;
    width: 100px;
    text-align: center;
    cursor:pointer;
}
.error{
    color:red;
    display: flex;
    align-items: center;
}
.elem{
    display:flex;
    align-items: center;
    gap: 5px;
}

.label{
    width:100px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.me{
    display:flex;
    flex-direction: column;
    gap:5px;
    border-radius: 10px;
    margin: 10px !important;
    padding: 10px !important;
}