.link{
    color:lightblue;
    border: 2px solid blue;
    width: 100px;
    text-align: center;
    cursor:pointer;
}
.error{
    color:red;
    display: flex;
    align-items: center;
}
.user-elem{
    display:flex;
    align-items: center;
}
.label{
    width:100px;
}
.me{
    display:flex;
    flex-direction: column;
    gap:5px;
}