body {
  background-color: beige;
}
div{
  padding: 0 !important;
  margin: 0 !important;
}
.offcanvas{
  width:200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-name{
  text-align: center;
}
.log{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}